@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
  cursor: pointer;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview, .product-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  transition: 0.5s;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}


.blog-preview h2, 
.product-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.product{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-preview {
  width: 25%;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.1);
}

.product-preview:hover{
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  
}

.product-preview a{
  text-decoration: none;
}

.blog-details img {
  width: 200px;
  height: 210px;
  border-radius: 10px;
  margin: 20px 0px;
  object-fit: cover;
}

form {
  width: 300px;
  margin: auto;
  padding: 20px;
}

form label, form input,
form textarea,
form button,
select{
  width: 100%;
  display: block;
  margin: 5px 0px;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

form label {
  outline: none;
  box-shadow: none;
  font-size: 18px;
}
form button {
  background-color: #f1356d;
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
  margin: 20px auto 0px auto;
  cursor: pointer;
}